<%+header%>
<% local c = luci.model.uci.cursor():get_all("sixwrt") %>
<h2><a id="content" name="content">Willkommen bei SixWrt</a></h2>

Dies ist die Oberfläche eines experimentellen IPv6-Gateway mit Firewall.
Die Firewall lässt sich für das aktuelle System unter <a href="<%=luci.dispatcher.build_url("sixwrt", "ports")%>">Portfreigaben</a> anpassen.
<%+footer%>
